#pagenums.tw_style { display:block; }
#siderbar{ left:0;}
#filterable li,.fixed_column { *display:inline}/*IE7*/
#filterable li a{ margin-bottom:5px;}
#navi ul li a span.dot{ *display:inline; margin-bottom:2px;}
#social_icon a.social_active{ *display:inline; *text-indent:0px;}