doctype 5
html
  head
    title 页面未找到 - 404
    script
      var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-32857089-1']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s)})();
  body
    div(style="width: 266px;height: 172px;position: absolute;left: 50%;top: 50%;margin-left: -133px;margin-top: -100px;")
      a(href="/",title="点击返回网站")
        img(src="/images/error404.gif",alt="")