<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title>Noderce 管理中心</title>
    <link rel="stylesheet" href="/admin/assets/style.css">
    <script src="/libs/jquery.min.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="nav">
        <ul>
          <li><a href="/admin">Home</a></li>
        </ul>
        <div class="quick"><a href="/admin/post/write" title="Write Post"><span>Write</span></a></div>
      </div>
      <div id="action">
        <div><a href="/admin/post">日志列表</a></div>
        <div><a href="/admin/post/write">新建日志</a></div>
        <hr>
        <div><a href="/admin/archive">分类列表</a></div>
        <div><a href="/admin/archive/write">新建分类</a></div>
        <hr>
        <div><a href="/admin/page">页面列表</a></div>
        <div><a href="/admin/page/write">新建页面</a></div>
        <hr>
        <div><a href="/admin/comment">评论列表</a></div>
        <div><a href="/admin/verifyAkismet" target="_blank">验证Akismet</a></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </body>
</html>