<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title>Noderce 管理中心</title>
    <link rel="stylesheet" href="/admin/assets/style.css">
  </head>
  <body>
    <div class="mod_login">
      <header>
        <h1 class="logo">Noderce</h1>
      </header>
      <div class="mod_login_main">
        <form method="POST" id="login-form">
          <div class="item">
            <label for="user_name">Username:</label>
            <input type="text" name="name" id="user_name">
          </div>
          <div class="item">
            <label for="user_pass">Password:</label>
            <input type="password" name="pass" id="user_pass">
          </div>
          <div class="item">
            <button type="submit" class="btn btn-small"><a>Login</a></button>
          </div>
        </form>
        <div class="clearfix"></div>
      </div>
    </div>
  </body>
</html>