doctype 5
html(lang="zh-cn")
  head
    title Noderce 管理中心
    link(rel='stylesheet', href='/admin/style.css')
    script(src='/libs/jquery/jquery.min.js')
  body
    #wrapper

      #nav
        ul
          li
            a(href="/admin") Home
            span  ›
          li
            a(href="/admin/page") Page
        .quick
          a(href="/admin/post/write",title="Write Post") <span>Write</span>
      #post-list
        ul
          - page_list.forEach(function(item){
            li
              a(href="/admin/page/edit/" + item.slug) #{item.title}
              .action
                span.edit
                  a(href="/page/" + item.slug, target="_blank") view
           - })

      .clearfix