doctype 5
html
  head
    title Noderce 管理中心 > 新建页面
    link(rel='stylesheet', href='/admin/style.css')
    script(src='/libs/jquery.min.js')
    script(src='/libs/cal.js')
  body
    #wrapper
      #nav
        ul
          li
            a(href="/admin") Home
            span  ›
          li
            a(href="/admin/page") Page
            span  ›
          li
            a(href="/admin/page/write") Write
          .quick
            a(href="/admin/post/write",title="Write Post") <span>Write</span>
      form#write_post(method="post")
        #post_info
          .item.title
            label(for="page_title")
              span Title
            input(type="text", name ="title", id="page_title")
          .item.slug
            label(for="page_slug")
              span Slug
            input(type="text", name ="slug", id="page_slug")
          .item.created
            label(for="post_created")
              span Created
            input(type="text", name ="created", id="page_created",readonly='')
          div.clearfix
        #content
          textarea(name="content", id="page_content")
        #meta
          button.btn.btn-small
            a#post-it OK, Post It
    script
      $('input#page_created').simpleDatepicker({ startdate: 2008, enddate: 2012 });
