<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <title>Noderce 管理中心</title>
  <link rel="stylesheet" href="/admin/style.css">
  <script src="/libs/jquery/jquery.min.js"></script>
</head>
<body>
<div id="wrapper">
  <div id="nav">
    <ul>
      <li><a href="/admin">Home</a><span> ›</span></li>
      <li><a href="/admin/post">Post</a></li>
    </ul>
    <div class="quick"><a href="/admin/post/write" title="Write Post"><span>Write</span></a></div>
  </div>
  <div id="post-list">
    <ul>
      <% post_list.forEach(function(item){ %>
      <li>
        <a href='/admin/post/edit/<%=item.slug%>'><%=item.title%></a>

        <div class='action'>
              <span class='edit'>
                <a href='/post/<%=item.slug%>' target='_blank'>view</a>
                <a href='/admin/post/delete/<%item.slug%>' target='_blank'>x</a>
              </span>
        </div>
      </li>
      <% }); %>
    </ul>
  </div>
  <div id='clearfix'></div>
</div>
</body>
</html>