doctype 5
html(lang="zh-cn")
  head
    block head
    link(rel='stylesheet', href='/theme/one/style.css')
    link(rel="alternate",type="application/rss+xml",title="未志",href="http://feeds.feedburner.com/willerce")
    meta(name="viewport",content="width=device-width, initial-scale=1, user-scalable=no")
    script(type="text/javascript")
      var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-32857089-1']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s)})();
  body
    header#main-header
      div.container
        a#logo(href='/', title='未志') 未志
        nav
          ul
            li
              a(href="/page/about") 关于我
            li
              a(href="/page/dream-list") 梦想清单
            li
              a(href="/archives") 文章存档
            li
              a(href="/page/links") 有情链接
    block content
    footer#main-footer
      div.container
        p Lovingly made by willerce, miss aidingcan.com, power by  <a href="https://github.com/willerce/noderce">noderce</a>
        p Thanks WebStorm, Nodejs and Express
    div#backtop
      span 回到顶部
    script(src='/libs/jquery.min.js',type='text/javascript')
    script(src='/libs/prettify/prettify.js',type='text/javascript')
    script(type='text/javascript')
      $(document).ready(function(){
        $("#backtop").hide();
        $(window).scroll(function () {
          if ($(this).scrollTop() > 100) {
            $('#backtop').fadeIn();
          } else {
            $('#backtop').fadeOut();
          }
        });
        $('#backtop').click(function () {
          $('body,html').animate({
            scrollTop: 0
          }, 500);
        });
        $("pre").addClass("prettyprint");
        prettyPrint();
      });
    block footer