<div id="main" class="container page">
  <div class="content">
    <article class="post block">
      <h1 class="title"><%=page.title%></h1>
      <div class="entry"><%-page.content_html%></div>
    </article>
  </div>
</div>