extends layout

append head
  title #{page_title}

block content
  div#main.container.page
    div.content
      article.post.block
        h1.title 文章存档
        div.entry.archives
          - archives.forEach(function(year){
            h2 #{year.year}
            ul
              - year.archives.forEach(function(item){
                li
                  time(datetime="item.created") #{item.created}
                  a(href="/post/" + item.slug) #{item.title}
              - })
          - })