html{background:#dcdcdc;color:#000}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:normal;font-style:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
input,textarea,select{font-weight:inherit;font-size:inherit;font-family:inherit}
body{background:#ebebeb url("../images/bg.jpg") repeat;color:#111;font-weight:400;font-size:12px;font-family:"Galdeano","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;line-height:1.7}
a{color:#3d658d;text-decoration:none}
a:hover{text-decoration:underline}
a img:hover{border:0;background:0}
strong{font-weight:bold}
code,pre{padding:0 3px 2px;color:#333;font-size:12px;font-family: Menlo,Monaco,Consolas,"Lucida Console","Courier New",monospace}
code{padding:3px 4px;background-color:#f5f5f5}
pre{display:block;margin:0 0 18px;padding:5px 7px;background-color:#F0F0F0;white-space:pre-wrap;font-size:12px;line-height:1.3em}
pre.prettyprint{border:none;}
pre code{padding:0;background-color:transparent}
::selection{background:#c9302f;color:#fff;text-shadow:none}
.alignleft{text-align:left}
.alignright{text-align:right}
.container{position:relative;overflow:hidden;margin:0 auto;padding:0 5px;width:980px}
.block{position:relative;overflow:hidden;border:1px solid #ccc;background:#fff;box-shadow:0 0 10px rgba(0,0,0,0.1)}
[class^="icon-"],[class*=" icon-"]{display:inline-block;width:16px;height:16px;background:url("../images/icons.png") no-repeat -16px -16px;vertical-align:text-top;line-height:16px}
.icon-feed{background-position:-16px -16px}
.icon-weibo{background-position:-48px -16px}
.icon-twitter{background-position:-80px -16px}
.sep5{height:5px}
.sep10{height:10px}
#main-header{margin-bottom:20px;height:45px;border-bottom:1px solid #84201f;background:#bb3131;background:-moz-linear-gradient(top,#c63a3a 0,#c43837 29%,#c13635 55%,#bd3232 55%,#ba3030 77%,#b32b2b 100%);background:-webkit-linear-gradient(top,#c63a3a 0,#c43837 29%,#c13635 55%,#bd3232 55%,#ba3030 77%,#b32b2b 100%);background:-o-linear-gradient(top,#c63a3a 0,#c43837 29%,#c13635 55%,#bd3232 55%,#ba3030 77%,#b32b2b 100%);background:-ms-linear-gradient(top,#c63a3a 0,#c43837 29%,#c13635 55%,#bd3232 55%,#ba3030 77%,#b32b2b 100%);background:linear-gradient(to bottom,#c63a3a 0,#c43837 29%,#c13635 55%,#bd3232 55%,#ba3030 77%,#b32b2b 100%);box-shadow:0 1px 10px rgba(0,0,0,0.2)}
#logo{float:left;color:#fff;font-size:30px;line-height:45px}
#main-header nav{position:absolute;top:0;right:5px}
#main-header nav ul li{display:inline}
#main-header nav ul li a{float:left;display:block;margin-left:20px;color:#ddd;font-weight:600;line-height:45px}
#main-header nav ul li a:hover{color:#fff}
#main-footer{clear:both;margin-top:20px;padding:10px 0;background:url("../images/footersub.png") repeat-x center top #dcdcdc}
#main-footer p{margin-bottom:0;color:#818181;text-align:left}
#main.page .content{width:980px}
.title{margin-bottom:5px;font-weight:bold;font-size:1.8em;font-family:Pmingliu,Mingliu;line-height:1em}
#main.post h1.title,
#main.page h1.title{margin-bottom:10px;padding-bottom:15px;border-bottom:1px dashed #bbb}
#main .content{float:left;width:720px}
#main .post .meta{margin-bottom:15px;color:#777;font-size:10px}
#main .post{margin-bottom:20px;padding:20px}
#post-entry .content{margin-bottom:10px;border-bottom:1px dashed #ccc}
.post .entry{font-size:14px}
.post .entry p{margin-bottom:1em}
.post .entry h1{font-size:18px}
.post .entry h2{font-size:16px}
.post .entry h3{font-size:14px}
.post .entry ul,.post ol{margin-bottom:1em;}
.post .entry ol{list-style:decimal outside none}
.post .entry hr{display:block;margin:1em 0;padding:0;height:1px;border:0 none #ccc;border-top:1px solid}
.post .entry h1,.post .entry h2,.post .entry h3,.post .entry h4{font-weight:bold}
.post .entry img{max-width:680px}
.entry.archives ul li time{margin-right:8px;color: #666;font-size: 13px;}
.entry.archives h2 {color: #666;font-size: 13px;}
#comments{padding:20px}
#comments h3{font-size:1.5em}
#dsq-subscribe{display:none}
.navigation{padding:8px;background:#fcfcfc;font-size:14px}
.sidebar{float:right}
.sidebar .widget{margin-bottom:20px;width:240px;background:#fff}
.sidebar .widget .wt{display:block;padding:10px;border-bottom:1px solid #ccc;background:#fdfdfd;font-size:14px;line-height:1em}
.sidebar .widget .wc{padding:10px}
.sidebar .widget.about .social span{margin-right:15px}
.sidebar .widget.about .social span i{margin-right:3px}
.sidebar .widget.about .social span:last-child{margin-right:0}
.sidebar .widget.links li a{margin-left:5px}
.sidebar .widget.links li span{margin-left:5px}
.sidebar .widget.imgblock{text-align:center}
.sidebar .widget.imgblock a{display:block;overflow:hidden;line-height:0}
.sidebar .widget.imgblock .wc{padding:5px}
#backtop{position:fixed;right:55px;bottom:80px;width:36px;height:36px;background:url('../images/backtop.gif') no-repeat;cursor:pointer}
#backtop:hover{background-position:0 -36px}
#backtop span{display:none}

.pln{color:#000}@media screen{.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun,.opn,.clo{color:#660}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}
@media print,projection{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun,.opn,.clo{color:#440}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}
pre.prettyprint{padding:5px 7px;}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}