doctype 5
html(lang="zh-cn")
  head
    block head
    
    meta(charset='utf-8')
    
    link(rel='stylesheet', media='all', type='text/css', href='/theme/shuixin/styles/mediaelementplayer.min.css')
    link(rel='stylesheet', media='all', type='text/css', href='/theme/shuixin/styles/supersized.css')
    link(rel='stylesheet', media='all', type='text/css', href='/theme/shuixin/js/themes/classic/galleria.classic.css')
    link(rel='stylesheet', media='all', type='text/css', href='/theme/shuixin/style.css')
    link(rel='stylesheet', media='all', type='text/css', href='/theme/shuixin/styles/light.css')
    link(rel='stylesheet', media='all', type='text/css', href='/theme/shuixin/styles/respondsive.css')
    link(rel='stylesheet', media='only screen and (-webkit-min-device-pixel-ratio: 2)', type='text/css', href='/theme/shuixin/styles/retina.css')
    
    //Mobile Specific Metas==================================================
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    //JS==================================================
    script(src='/theme/shuixin/js/jquery.js',type='text/javascript')
    script(src='/theme/shuixin/js/jquery.easing.min.js',type='text/javascript')
    script(src='/theme/shuixin/js/jquery.infinitescroll.min.js',type='text/javascript')
    script(src='/theme/shuixin/js/mediaelement-and-player.min.js',type='text/javascript')
    script(src='/theme/shuixin/js/jquery.hoverIntent.js',type='text/javascript')
    script(src='/theme/shuixin/js/supersized.3.2.7.min.js',type='text/javascript')
    script(src='/theme/shuixin/js/supersized.shutter.min.js',type='text/javascript')
    script(src='/theme/shuixin/js/galleria-1.2.8.min.js',type='text/javascript')
    script(src='/theme/shuixin/js/themes/classic/galleria.classic.js',type='text/javascript')
    script(src='/theme/shuixin/js/jquery.hoverdir.js',type='text/javascript')
    script(src='/theme/shuixin/js/color.js',type='text/javascript')
    script(src='/theme/shuixin/js/jquery.isotope.js',type='text/javascript')
    script(src='/theme/shuixin/js/main.js',type='text/javascript')

    link(rel='stylesheet', media='all', type='text/css', href='/theme/shuixin/js/ie.js')
    link(rel='stylesheet', media='all', type='text/css', href='/theme/shuixin/styles/ie.css')
    //Favicons==================================================
    link(rel='shortcut icon', href='/theme/shuixin/img/favicon.ico')
    link(rel='apple-touch-icon-precomposed', href='/theme/shuixin/img/apple-touch-icon-114x114.png')

    //IE hack==================================================
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lte IE 8 ]><link rel="stylesheet" media="all" type="text/css" href="/theme/shuixin/js/js/ie.js"><link rel="stylesheet" media="all" type="text/css" href="/theme/shuixin/styles/ie.css"><![endif]-->
    <!--[if lte IE 6]><div style="width: 100%;" class="messagebox_orange">Your browser is obsolete and does not support this webpage. Please use newer version of your browser or visit <a href="http://www.ie6countdown.com/" target="_new">Internet Explorer 6 countdown page</a>  for more information. </div><![endif]-->
    /////////////\n//Google Fonts//\n///////////////
    link(rel='stylesheet', media='all', type='text/css', href='http://fonts.googleapis.com/css?family=Playfair+Display')
    link(rel='stylesheet', media='all', type='text/css', href='http://fonts.googleapis.com/css?family=Metrophobic')
    link(rel='stylesheet', media='all', type='text/css', href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic')

  body(class='page')
    div#wrap
      ////////////////////////////////////////////////
      ////////////                         ///////////
      ////////////    Left Sidebar Area   ////////////
      ///////////                         ////////////  
      //////////////////////////////////////////////// 
      div#siderbar(class='sidebar_forlist')
        div(class='sidebar_wrapmost')
          ///////////////////
          //     Logo      //
          ///////////////////   
          p#logo
            a(href='/', title='')
              img(src='/theme/shuixin/img/logo.png', alert='', width='250', height='90')
          p#logo_retina
              img(src='/theme/shuixin/img/logo_retina.png', alert='', width='250', height='90')
          //Logo For High Resolution
          ///////////////////
          //     Menu      //
          ///////////////////
          div(class='menu_wrap')
            div#navi.clearfix
              ul.menu
                li(class='menu-item current-menu-item')
                  a(href='/') HOME
            /////////////////
            //filter button//
            /////////////////
            //
              ul#filterable
                li.current
                  a(data-filter='*',href='#') ALL
          //End menu_wrap
          div#siderbar_bottom
            //////////////////
            //Search box//
            /////////////////
            //
              div#search(class='searchcss social_active')
                form#search_form(class='form_header')
                  span.searchicon
                  input.textboxsearch(type='text', value='Search', onBlur="if (this.value == '') {this.value = 'Search';}",onFocus="if (this.value == 'Search') {this.value = '';}")
                  input(type='submit', class='submitsearch',name='submitsearch',value='')
            //END search
            ///////////////
            //Social icons //
            //(it is not displayed in mobile device)//
            ///////////////
            //
              div#social_icon
                a#social_facebook.social_active(href='#',title='title')
                  span
                a#social_twitter.social_active(href='#',title='title')
                  span
                a#social_google_plus.social_active(href='#',title='title')
                  span
                a#social_pinterest.social_active(href='#',title='title')
                  span
                a#social_dribbble.social_active(href='#',title='title')
                  span
                a#social_trumblr.social_active(href='#',title='title')
                  span
                a#social_youtube.social_active(href='#',title='title')
                  span
                a#social_flickr.social_active(href='#',title='title')
                  span
                a#social_vimeo.social_active(href='#',title='title')
                  span
                a#social_linkedin.social_active(href='#',title='title')
                  span
                a#social_forst.social_active(href='#',title='title')
                  span
                a#social_github.social_active(href='#',title='title')
                  span
                a#social_rss.social_active(href='#',title='title')
                  span
            //END social_icon
            ///////////////
            //copyright //
            //(it is not displayed in mobile device)//
            ///////////////
            div#copyright Copyright @ nasa.wang
        //END siderbar_bottom
      //End sidebar
      ////////////////////////////////////////////////
      ////////////                         ///////////
      ////////////    Main Content Area   ////////////
      ///////////                         ////////////  
      ////////////////////////////////////////////////     
      block content
      //////////////////////////////////////////
      ////// Social icons for mobile devices ///
      //////////////////////////////////////////
      div#social_icon(class='social_icon_mobile')
        a#social_facebook.social_active(href='#',title='title')
          span
        a#social_twitter.social_active(href='#',title='title')
          span
        a#social_google_plus.social_active(href='#',title='title')
          span
        a#social_pinterest.social_active(href='#',title='title')
          span
        a#social_dribbble.social_active(href='#',title='title')
          span
        a#social_trumblr.social_active(href='#',title='title')
          span
        a#social_youtube.social_active(href='#',title='title')
          span
        a#social_flickr.social_active(href='#',title='title')
          span
        a#social_vimeo.social_active(href='#',title='title')
          span
        a#social_linkedin.social_active(href='#',title='title')
          span
        a#social_forst.social_active(href='#',title='title')
          span
        a#social_github.social_active(href='#',title='title')
          span
        a#social_rss.social_active(href='#',title='title')
          span
      //////////////////////////////////////////////
      ////// Copyright info. for mobile devices ////
      //////////////////////////////////////////////
      div#copyright_mobile Copyright @ nasa.wang
    //Back Top button
    div#top
    block footer