extends layout

append head
  title #{page_title}
  script(type="text/javascript")
    var blockWidth = '300'; // Width of block
    var blockMargin = '10';  // Space between blocks
    var blockColumn = '2';  // Columns of expanded block 
    var smallBlockBg = '#ffffff'; // Background color of block
    var bigBlockBg = '#f3f3f3'; // Background color of expanded block
    var heightType = 'nochange'; // For Gallery list page

block content
  div#content.content_wrap
    div#single-wrap
      ////////////////\n//Title / meta\n/////////////
      h1
        span.sinletitle #{title}
      ////////////////\n//Content\n/////////////
      div.entry !{content}
      //End entry
      div.clearfix
    ////////////////
    //Right Sidebar
    /////////////
    div.sidebar_right
      //
        div.page_navi
          a.page_navi_pre(href='#')
          a.page_navi_next(href='#')
        ul.sidebar_right_widget
        li.widget-container.widget_recent_comments
          h3.widget-title COMMENTS
          ul#recentcomments
            li.recentcomments
              span.avatars
                img.avatar.avatar-28.photo(alert='',src='http://placehold.it/28x28',height='28',width='28')
              a(href='#') xxxxxxxxxxxxxxxxxxxx
            div.clearfix
        li.widget-container.widget_text
          h3.widget-title TEXT
          div.textwidget xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        li.widget-container.widget_archive
          h3.widget-title ARCHIVES
          ul
            li
              a(href='#', title='November 2012') November 2012
            li
              a(href='#', title='October 2012') October 2012
            li
              a(href='#', title='September 2012') September 2012
            li
              a(href='#', title='August 2012') August 2012