body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
fieldset, img {
    border: 0
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal
}
ol, ul {
    list-style: none
}
caption, th {
    text-align: left
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%
}
q:before, q:after {
    content: ''
}
abbr, acronym {
    border: 0;
    font-variant: normal
}
input, textarea, select {
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit
}
input.textfield, textarea {
    border: transparent;
    border-radius: 3px;
    font-size: 15px;
    background-color: #ECEEF1;
    color: #707b91;
}
body {
    color: #707b91;
    background: #eff0f2;
    height: 100%;
    width: 100%;
    position: relative;
    font: normal 14px/1.7 "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, "STHeiti", SimSun, "Microsoft Yahei", sans-serif;
}
a {
    color: #3d658d;
    text-decoration: none
}
a:hover {
    text-decoration: underline
}
a img:hover {
    border: 0;
    background: 0
}
strong {
    font-weight: bold
}
code {
    padding: 3px 4px;
    background-color: #f5f5f5
}
code, pre {
    padding: 0 3px 2px;
    color: #333;
    font-size: 12px;
    font-family: Menlo, Monaco, Consolas, "Lucida Console", "Courier New", "Microsoft Yahei", monospace
}
pre {
    display: block;
    margin: 0 0 18px;
    padding: 5px 7px;
    background-color: #F0F0F0;
    white-space: pre-wrap;
    font-size: 12px;
    line-height: 1.5em
}
pre.prettyprint {
    border: none;
}
pre code {
    padding: 0;
    background-color: transparent
}
blockquote {
    margin: 10px 0;
    padding: 8px 10px 8px 12px;
    border-left: 5px solid #CCC;
    background: #F1F1F1;
}

/** basic class **/

.alignleft {
    text-align: left
}
.alignright {
    text-align: right
}
[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("images/icons.png") no-repeat -16px -16px;
    vertical-align: text-top;
    line-height: 16px
}
.icon-feed {
    background-position: -16px -16px
}
.icon-weibo {
    background-position: -48px -16px
}
.icon-twitter {
    background-position: -80px -16px
}
.sep5 {
    height: 5px
}
.sep10 {
    height: 10px
}
.alignright {
    float: right;
}
.alignleft {
    float: left;
}


/** layout **/

.container {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 5px;
    width: 960px
}
.block {
    position: relative;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
}
.inner {
    padding: 30px;
}
.wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 50px;
}
#main {
    margin: 50px auto;
}

/*
 * header
 *****************************/

#main-header {
    height: 120px;
    background: #fff;
}
#logo {
    float: left;
    font-size: 30px;
    line-height: 45px;
    margin-top: 37px;
    color: #415b76;
}
#main-header nav {
    position: absolute;
    top: 37px;
    right: 5px
}
#main-header nav ul li {
    display: inline
}
#main-header nav ul li a {
    float: left;
    display: block;
    margin-left: 20px;
    color: #8d95a7;
    font-weight: 600;
    line-height: 45px;
}
#main-header nav ul li a:hover {
    color: #707b91;
}
#main-footer {
    clear: both;
    margin-top: 20px;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}
#main-footer p {
    margin-bottom: 0;
    text-align: left
}
.title {
    margin-bottom: 5px;
    font-size: 1.8em;
    line-height: 1em;
}
.title a {
    color: #707b91;
}
#main.page h1.title, #main.tags h1.title {
    margin-bottom: 10px;
    padding-bottom: 15px;
}
#main .post .meta {
    margin-bottom: 15px;
    color: #777;
    font-size: 10px
}
#main .post {
    margin-bottom: 20px;
    padding: 30px
}
#main.post .tags {
    font-size: 12px;
}
#main.tags section {
    padding: 30px
}
#main.tags article {
    margin: 10px 0;
    color: #666;
}
#main.tags article time {
    margin-right: 8px;
    color: #666;
    font-size: 13px;
}
#main.tags article a {
    font-size: 13px;
}

#post-entry .content {
    margin-bottom: 10px;
    border-bottom: 1px dashed #ccc
}
.post .entry {
    font-size: 15px;
    line-height: 1.9;
}
.post .entry p {
    margin-bottom: 1em
}
.post .entry a {
    color: #1abc9c;
    text-decoration: underline;
}
.post .entry a:hover {
    color: #1abc9c;
    text-decoration: none;
}
.post .entry h2, .post .entry h3 {
    margin-bottom: 10px;
    padding: 4px 0;
    border-bottom: 1px dashed #ccc;
}
.post .entry h3 {
    font-size: 18px
}
.post .entry h3 {
    font-size: 15px;
}
.post .entry ul, .post .entry ol {
    margin-bottom: 1em;
    margin-left: 20px;
}
.post .entry ol {
    list-style: decimal outside none
}
.post .entry ul {
    list-style-type: disc;
}
.post .entry hr {
    display: block;
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: 0 none #ccc;
    border-top: 1px solid
}
.post .entry h1, .post .entry h2, .post .entry h3, .post .entry h4 {
    font-weight: bold
}
.post .entry img {
    max-width: 680px
}
.post .entry blockquote p {
    margin: 0;
}
.entry.archives ul li time {
    margin-right: 8px;
    color: #666;
    font-size: 13px;
}
.entry.archives h2 {
    color: #666;
    font-size: 13px;
}
#comments {
    margin-bottom: 20px;
}
#comments h3 {
    font-size: 1.5em
}
#reply {
    margin-bottom: 5px;
}
.navigation {
    padding: 8px;
    background: #fcfcfc;
    font-size: 14px;
    margin-bottom: 10px;
}

/* respond START */
#respond {
    font-size: 11px;
}
#respond .row {
    margin-bottom: 5px;
}
#respond .textfield {
    width: 180px;
    margin-right: 5px;
}
#respond .ratings {
    display: block;
    float: left;
}
#respond .post-ratings {
    padding-top: 5px;
}
#author, #email, #url {
    background-image: url(images/icons.png);
    background-repeat: no-repeat;
    padding: 5px 1px 5px 24px;
}
#author {
    background-position: 5px 6px;
}
#email {
    background-position: 5px -28px;
}
#url {
    background-position: 5px -61px;
}

textarea#comment {
    width: 550px;
    resize: vertical;
    padding: 10px;
}
#comment-submit {
    border: none;
    border-radius: 4px;
    visibility: visible;
    padding: 15px 18px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    color: #FFF;
    background: #1abc9c;
}
#comment-submit:hover {
    background: #48c9b0;
}
#no_author {
    display: none;
}
.commentlist .comment {
    list-style: none;
    border-bottom: 1px solid #E2E2E2;
    overflow: hidden;
    padding: 15px 20px 15px 30px;
}
.commentlist .comment:hover {
    background: #f5f5f5;
}
.commentlist .comment:last-child {
    border: none
}

.comment .avatar {
    float: left;
    margin-top: 4px;
}
.comment .info {
    font-size: 10px;
    color: #999;
}
.comment .info .floor, .comment .info .reply {
    margin-left: 5px;
    float: right;
    font-size: 10px;
    line-height: 10px;
    display: inline-block;
    background-color: #BBB;
    color: #FFF;
    padding: 3px 5px
}
.comment .reviewer {
    font-weight: 700;
    font-size: 12px;
    color: black;
    margin-right: 10px;
}
.comment .content {
    margin-left: 46px;
    line-height: 165%;
}
.comment .description p {
    margin-bottom: 5px;
}
.comment .description blockquote, .comment .description pre {
    margin: 10px 0;
}
.comment .description blockquote p {
    margin-top: 0;
    margin-bottom: 10px;
}
.comment .description ul, .comment .description ol {
    padding-top: 10px;
    padding-left: 20px;
}
.comment .description ul li, .comment .description ol li {
    list-style-position: outside;
}

@media print, screen and (max-width: 830px) {
    .container {
        width: auto;
        margin: 0;
    }

    .inner {
        padding: 15px;
    }

    #main .post {
        padding: 15px;
    }

    #backtop {
        right: 10px;
        bottom: 10px;
    }

    .commentlist .comment {
        padding: 10px 15px;
    }

    #respond .textfield {
        width: 50%;
    }

    textarea#comment {
        width: 95%;
        resize: vertical;
    }
}

.pln {
    color: #000
}
@media screen {
    .str {
        color: #080
    }
    .kwd {
        color: #008
    }
    .com {
        color: #800
    }
    .typ {
        color: #606
    }
    .lit {
        color: #066
    }
    .pun, .opn, .clo {
        color: #660
    }
    .tag {
        color: #008
    }
    .atn {
        color: #606
    }
    .atv {
        color: #080
    }
    .dec, .var {
        color: #606
    }
    .fun {
        color: red
    }
}
@media print, projection {
    .str {
        color: #060
    }
    .kwd {
        color: #006;
        font-weight: bold
    }
    .com {
        color: #600;
        font-style: italic
    }
    .typ {
        color: #404;
        font-weight: bold
    }
    .lit {
        color: #044
    }
    .pun, .opn, .clo {
        color: #440
    }
    .tag {
        color: #006;
        font-weight: bold
    }
    .atn {
        color: #404
    }
    .atv {
        color: #060
    }
}
pre.prettyprint {
    padding: 10px 10px 7px 10px;
    border-radius: 6px;
}
ol.linenums {
    margin-top: 0;
    margin-bottom: 0
}
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
    list-style-type: none
}
li.L1, li.L3, li.L5, li.L7, li.L9 {
    background: #eee
}