<section id="main" class="container tags">
  <div class="content">
    <section class="block">
      <h1 class="title">标签：<%=tag_name%></h1>
      <%posts.forEach(function(item){%>
      <article>
        <h2>
          <time><%=locals.moment(item.created).format("L")%></time>
          <a href="/post/<%=item.slug%>"><%=item.title%></a>
        </h2>
      </article>
      <%})%>
    </section>
  </div>
</section>