html{background:#dcdcdc;color:#000}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:normal;font-style:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
input,textarea,select{font-weight:inherit;font-size:inherit;font-family:inherit}
input.textfield, textarea {background-color: white;border: 1px solid #CCC;font-size: 13px;padding: 2px;}
body{background:#ebebeb url("images/bg.jpg") repeat;color: #111;font-weight:400;font-size:13px;font-family: "Microsoft Yahei", "Trebuchet MS", Georgia,"Times New Roman",Times,sans-serif;line-height: 1.7;}
a{color:#3d658d;text-decoration:none}
a:hover{text-decoration:underline}
a img:hover{border:0;background:0}
strong{font-weight:bold}
code,pre{padding:0 3px 2px;color:#333;font-size:12px;font-family: Menlo,Monaco,Consolas,"Lucida Console","Courier New","Microsoft Yahei",monospace}
code{padding:3px 4px;background-color:#f5f5f5}
pre{display:block;margin:0 0 18px;padding:5px 7px;background-color:#F0F0F0;white-space:pre-wrap;font-size:12px;line-height:1.5em}
pre.prettyprint{border:none;}
pre code{padding:0;background-color:transparent}
::selection{background:#c9302f;color:#fff;text-shadow:none}
.alignleft{text-align:left}
.alignright{text-align:right}
.container{position:relative;overflow:hidden;margin:0 auto;padding:0 5px;width:820px}
.block{position:relative;overflow:hidden;border:1px solid #ccc;background:#fcfcfa;box-shadow:0 0 10px rgba(0,0,0,0.1)}
.inner {padding:30px;}
[class^="icon-"],[class*=" icon-"]{display:inline-block;width:16px;height:16px;background:url("images/icons.png") no-repeat -16px -16px;vertical-align:text-top;line-height:16px}
.icon-feed{background-position:-16px -16px}
.icon-weibo{background-position:-48px -16px}
.icon-twitter{background-position:-80px -16px}
.sep5{height:5px}
.sep10{height:10px}
.alignright{ float: right;}
.alignleft{ float: left;}

#main-header{margin-bottom:20px;height:45px;border-bottom:1px solid #84201f;background:#bb3131;background:-moz-linear-gradient(top,#c63a3a 0,#c43837 29%,#c13635 55%,#bd3232 55%,#ba3030 77%,#b32b2b 100%);background:-webkit-linear-gradient(top,#c63a3a 0,#c43837 29%,#c13635 55%,#bd3232 55%,#ba3030 77%,#b32b2b 100%);background:-o-linear-gradient(top,#c63a3a 0,#c43837 29%,#c13635 55%,#bd3232 55%,#ba3030 77%,#b32b2b 100%);background:-ms-linear-gradient(top,#c63a3a 0,#c43837 29%,#c13635 55%,#bd3232 55%,#ba3030 77%,#b32b2b 100%);background:linear-gradient(to bottom,#c63a3a 0,#c43837 29%,#c13635 55%,#bd3232 55%,#ba3030 77%,#b32b2b 100%);box-shadow:0 1px 10px rgba(0,0,0,0.2)}
#logo{float:left;color:#f5f5f5;font-size:30px;line-height:45px;}
#main-header nav{position:absolute;top:0;right:5px}
#main-header nav ul li{display:inline}
#main-header nav ul li a{float:left;display:block;margin-left:20px;color:#ddd;font-weight:600;line-height:45px;font-family: 'Microsoft Yahei';}
#main-header nav ul li a:hover{color:#fff}
#main-footer{clear:both;margin-top:20px;padding:10px 0;background:url("images/footersub.png") repeat-x center top #dcdcdc}
#main-footer p{margin-bottom:0;color:#818181;text-align:left}
.title{margin-bottom:5px;font-weight:bold;font-size:1.8em;font-family:Pmingliu,Mingliu;line-height:1em}
#main.page h1.title,#main.tags h1.title{margin-bottom:10px;padding-bottom:15px;}
#main .post .meta{margin-bottom:15px;color:#777;font-size:10px}
#main .post{margin-bottom:20px;padding:30px}
#main.post .tags {font-size: 12px;}
#main.tags section {padding: 30px }
#main.tags article{margin: 10px 0;color: #666;}
#main.tags article time {margin-right: 8px; color: #666; font-size: 13px;}
#main.tags article a {font-size: 13px;}


#post-entry .content{margin-bottom:10px;border-bottom:1px dashed #ccc}
.post .entry{font-size: 14px;line-height: 1.9;text-align: justify;}
.post .entry p{margin-bottom:1em}
.post .entry a{padding: 0 2px;}
.post .entry a:hover{text-decoration: none;background: #c9302f;color: #fff;border-radius: 3px;}
.post .entry h2,.post .entry h3{margin-bottom: 10px;padding: 4px 0;border-bottom: 1px dashed #ccc;}
.post .entry h3{font-size:18px}
.post .entry h3{font-size: 15px;}
.post .entry ul,.post .entry ol{margin-bottom:1em;margin-left:20px;}
.post .entry ol{list-style:decimal outside none}
.post .entry ul{list-style-type: disc;}
.post .entry hr{display:block;margin:1em 0;padding:0;height:1px;border:0 none #ccc;border-top:1px solid}
.post .entry h1,.post .entry h2,.post .entry h3,.post .entry h4{font-weight:bold}
.post .entry img{max-width:680px}
.entry.archives ul li time{margin-right:8px;color: #666;font-size: 13px;}
.entry.archives h2 {color: #666;font-size: 13px;}
#comments{ margin-bottom: 20px;}
#comments h3{font-size:1.5em}
#dsq-subscribe{display:none}
.navigation{padding:8px;background:#fcfcfc;font-size:14px}
#backtop{position:fixed;right:55px;bottom:80px;width:36px;height:36px;background:url('images/backtop.gif') no-repeat;cursor:pointer}
#backtop:hover{background-position:0 -36px}
#backtop span{display:none}

/* respond START */
#respond{font-size:11px;}
#respond .row{margin-bottom:5px;}
#respond .textfield{width:180px;margin-right:5px;}
#respond .ratings{display:block;float:left;}
#respond .post-ratings{padding-top:5px;}
#author,#email,#url{background-image:url(images/icons.png);background-repeat:no-repeat;padding:3px 1px 3px 24px;}
#author{background-position:4px 4px;}
#email{background-position:4px -29px;}
#url{background-position:4px -63px;}

textarea#comment{width:550px;resize:vertical;}
#comment-submit{visibility:visible;padding:8px 18px;border:1px solid #080;border-bottom-color:#2B562B;font-size:14px;font-weight:700;cursor:pointer;font-weight:700;text-decoration:none;color:#FFF;text-shadow:0 1px 0 #5d4113;background:#080;background:-webkit-gradient(linear, left top, left bottom, from(#C3E5C5), color-stop(0.05, #54B059), to(#080));background:-moz-linear-gradient(top, #C3E5C5, #54B059 5%, #080);}
#comment-submit:hover{border-bottom-color:#3A693A;background:#44A049;background:-webkit-gradient(linear, left top, left bottom, from(#FFF), color-stop(0.05, #63BC68), to(#44A049));background:-moz-linear-gradient(top, #FFF, #63BC68 5%, #44A049);}
#no_author {display: none;}
.commentlist .comment{list-style:none;border-bottom:1px solid #E2E2E2;background:#FFF;overflow:hidden;padding:15px 20px 15px 30px;}
.commentlist .comment:hover { background: #f5f5f5;}
.commentlist .comment:last-child{border: none}

.comment .avatar{float:left;margin-top: 4px;}
.comment .info{font-size:10px;color:#999;}
.comment .info .floor,.comment .info .reply {margin-left:5px;float: right;font-size: 10px;line-height: 10px;display: inline-block;background-color: #BBB;color: #FFF;padding: 3px 5px}
.comment .reviewer { font-weight: 700; font-size: 12px; color: black; margin-right: 10px;}
.comment .content{margin-left:46px;line-height:165%;}
.comment .description p{margin-bottom:5px;}
.comment .description blockquote,.comment .description pre{margin:10px 0;}
.comment .description blockquote p{margin-top:0;margin-bottom:10px;}
.comment .description ul,.comment .description ol{padding-top:10px;padding-left:20px;}
.comment .description ul li,.comment .description ol li{list-style-position:outside;}


@media print, screen and (max-width: 830px) {
    .container {
        width: auto;
        margin:0;
    }

    .inner {
        padding: 15px;
    }

    #main .post {
        padding: 15px;
    }

    #backtop {
        right: 10px;
        bottom: 10px;
    }

    .commentlist .comment {
        padding: 10px 15px;
    }

    #respond .textfield {
        width: 50%;
    }

    textarea#comment {
        width: 95%;
        resize: vertical;
    }
}

.pln{color:#000}@media screen{.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun,.opn,.clo{color:#660}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}
@media print,projection{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun,.opn,.clo{color:#440}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}
pre.prettyprint{padding:5px 7px;}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}