body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
fieldset, img {
    border: 0
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal
}
ol, ul {
    list-style: none
}
caption, th {
    text-align: left
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%
}
q:before, q:after {
    content: ''
}
abbr, acronym {
    border: 0;
    font-variant: normal
}
input, textarea, select {
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit
}
input.textfield, textarea {
    background-color: white;
    border: 1px solid #CCC;
    font-size: 13px;
    padding: 2px;
}
body {
    background: #f6f6f1;
    color: #111;
    font-weight: 400;
    font-size: 13px;
    font-family: Georgia, "Microsoft Yahei", "Trebuchet MS", "Times New Roman", Times, sans-serif;
    line-height: 1.7;
}
:visited:hover, :visited:focus, :visited:active {
    color: #25a;
    text-decoration: underline;
}
:link:hover, :link:focus, :link:active {
    color: #25a;
    text-decoration: underline;
}
:visited {
    color: #69c;
    text-decoration: none;
}
:link {
    color: #369;
    text-decoration: none;
}
a img:hover {
    border: 0;
    background: 0
}
strong {
    font-weight: bold
}
code, pre {
    padding: 0 3px 2px;
    color: #333;
    font-size: 12px;
    font-family: Menlo, Monaco, Consolas, "Lucida Console", "Courier New", monospace
}
code {
    padding: 3px 4px;
    background-color: #f5f5f5
}
pre {
    display: block;
    margin: 0 0 18px;
    padding: 5px 7px;
    background-color: #F0F0F0;
    white-space: pre-wrap;
    font-size: 12px;
    line-height: 1.3em
}
pre.prettyprint {
    border: none;
}
pre code {
    padding: 0;
    background-color: transparent
}
.alignleft {
    text-align: left
}
.alignright {
    text-align: right
}
.container {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 90%;
}
.block {
    position: relative;
    overflow: hidden;
    background: #fff;
    margin: 0 4px 26px 0;
    border: 1px solid #ecece7;
    -moz-box-shadow: 2px 2px 0 rgba(170, 160, 130, .5), 4px 4px 0 rgba(200, 190, 165, .5);
    -webkit-box-shadow: 2px 2px 0 rgba(170, 160, 130, .5), 4px 4px 0 rgba(200, 190, 165, .5);
    box-shadow: 2px 2px 0 rgba(170, 160, 130, .5), 4px 4px 0 rgba(200, 190, 165, .5);
}
.inner {
    padding: 30px;
}
[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("images/icons.png") no-repeat -16px -16px;
    vertical-align: text-top;
    line-height: 16px
}
.icon-feed {
    background-position: -16px -16px
}
.icon-weibo {
    background-position: -48px -16px
}
.icon-twitter {
    background-position: -80px -16px
}
.sep5 {
    height: 5px
}
.sep10 {
    height: 10px
}
.alignright {
    float: right;
}
.alignleft {
    float: left;
}

#main-header {
    background: #000;
    border-bottom: 4px solid #f8d575;
    color: #ccc;
    min-height: 70px;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
    margin-bottom: 30px;
}
#logo {
    float: left;
    color: #f5f5f5;
    font-size: 34px;
    line-height: 70px;
}
#main-header nav {
    position: absolute;
    top: 0;
    right: 5px
}
#main-header nav ul li {
    display: inline
}
#main-header nav ul li a {
    float: left;
    display: block;
    margin-left: 20px;
    color: #ddd;
    font-weight: 600;
    line-height: 70px;
}
#main-header nav ul li a:hover {
    color: #fff
}
#main-footer {
    clear: both;
    margin-top: 20px;
    padding: 10px 0;
    background: #450000;
    border-bottom: 6px solid #3c0000;
    color: #eee;
    font: italic 12px/1.5 Georgia, Times, "Times New Roman", serif;
}
#main-footer a {
    color: #eb9f81;
}

.title {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.8em;
    font-family: Pmingliu, Mingliu;
    line-height: 1em;
}
#main.page h1.title, #main.post h1.title, #main.tags h1.title {
    padding-bottom: 15px;
    padding-left: 20px;
}
#main .post .meta {
    margin-bottom: 15px;
    color: #777;
    font-size: 11px
}
#main .posts {
    margin: 0 310px 26px 0;
}
#main .posts .post {
    border-bottom: 1px dotted #eee;
}

#main .post {
    margin-bottom: 20px;
    padding: 20px
}
#main.post .tags {
    font-size: 12px;
}
#main.tags section {
    padding: 30px
}
#main.tags article {
    margin: 10px 0;
    color: #666;
}
#main.tags article time {
    margin-right: 8px;
    color: #666;
    font-size: 13px;
}
#main.tags article a {
    font-size: 13px;
}

#post-entry .content {
    margin-bottom: 10px;
    border-bottom: 1px dashed #ccc
}
.post .entry {
    font-size: 15px;
    line-height: 1.9;
    text-align: justify;
}
.post .entry p {
    margin-bottom: 1em
}
.post .entry a {
    padding: 0 2px;
}
.post .entry h2, .post .entry h3 {
    margin-bottom: 10px;
    padding: 4px 0;
    border-bottom: 1px dashed #ccc;
    line-height: 2.2em;
}
.post .entry h2 {
    font-size: 18px
}
.post .entry h3 {
    font-size: 16px;
}
.post .entry ul, .post .entry ol {
    margin-bottom: 1em;
    margin-left: 20px;
}
.post .entry ol {
    list-style: decimal outside none
}
.post .entry ul {
    list-style-type: disc;
}
.post .entry hr {
    display: block;
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: 0 none #ccc;
    border-top: 1px solid
}
.post .entry h1, .post .entry h2, .post .entry h3, .post .entry h4 {
    font-weight: bold
}
.post .entry img {
    max-width: 680px
}
.entry.archives ul li time {
    margin-right: 8px;
    color: #666;
    font-size: 13px;
}
.entry.archives h2 {
    color: #666;
    font-size: 13px;
}
#comments {
    margin-bottom: 20px;
}
#comments h3 {
    font-size: 1.5em
}
#dsq-subscribe {
    display: none
}
#navigation {
    padding: 8px;
    color: #999;
    font-size: 14px;
    margin-right: 300px;
}
.sidebar {
    position: absolute;
    right: 0;
    top: 0;
}
.sidebar .widget {
    margin-bottom: 20px;
    width: 280px;
    background: #fff
}
.sidebar .widget .wt {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eee;
    background: #fdfdfd;
    font-size: 15px;
    line-height: 1.2em
}
.sidebar .widget .wc {
    padding: 10px
}
.sidebar .widget.about .social span {
    margin-right: 15px
}
.sidebar .widget.about .social span i {
    margin-right: 3px
}
.sidebar .widget.about .social span:last-child {
    margin-right: 0
}
.sidebar .widget.links li a {
    margin-left: 5px
}
.sidebar .widget.links li span {
    margin-left: 5px
}
.sidebar .widget.imgblock {
    text-align: center
}
.sidebar .widget.imgblock a {
    display: block;
    overflow: hidden;
    line-height: 0
}
.sidebar .widget.imgblock .wc {
    padding: 5px
}

/* respond START */
#respond {
    font-size: 11px;
}
#respond .row {
    margin-bottom: 5px;
}
#respond .textfield {
    width: 180px;
    margin-right: 5px;
}
#respond .ratings {
    display: block;
    float: left;
}
#respond .post-ratings {
    padding-top: 5px;
}
#author, #email, #url {
    background: url(images/comment-icons.png) no-repeat;
    padding: 3px 1px 3px 24px;
}
#author {
    background-position: 4px 4px;
}
#email {
    background-position: 4px -29px;
}
#url {
    background-position: 4px -63px;
}

textarea#comment {
    width: 550px;
    resize: vertical;
}
#comment-submit {
    visibility: visible;
    padding: 8px 18px;
    border: 1px solid #080;
    border-bottom-color: #2B562B;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    color: #FFF;
    text-shadow: 0 1px 0 #5d4113;
    background: #080;
    background: -webkit-gradient(linear, left top, left bottom, from(#C3E5C5), color-stop(0.05, #54B059), to(#080));
    background: -moz-linear-gradient(top, #C3E5C5, #54B059 5%, #080);
}
#comment-submit:hover {
    border-bottom-color: #3A693A;
    background: #44A049;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), color-stop(0.05, #63BC68), to(#44A049));
    background: -moz-linear-gradient(top, #FFF, #63BC68 5%, #44A049);
}

.commentlist .comment {
    list-style: none;
    border-bottom: 1px solid #E2E2E2;
    background: #FFF;
    overflow: hidden;
    padding: 15px 20px 15px 20px;
}
.commentlist .comment:hover {
    background: #f5f5f5;
}
.commentlist .comment:last-child {
    border: none
}

.comment .avatar {
    float: left;
    margin-top: 3px;
}
.comment .info {
    font-size: 10px;
    color: #999;
}
.comment .info time {
    font-family: arial;
}
.comment .info .floor, .comment .info .reply {
    margin-left: 5px;
    float: right;
    font-size: 10px;
    line-height: 10px;
    display: inline-block;
    background-color: #BBB;
    color: #FFF;
    padding: 3px 5px
}
.comment .reviewer {
    font-weight: 700;
    font-size: 12px;
    color: black;
    margin-right: 10px;
}
.comment .content {
    margin-left: 46px;
    line-height: 165%;
}
.comment .description p {
    margin-bottom: 5px;
}
.comment .description blockquote, .comment .description pre {
    margin: 10px 0;
}
.comment .description blockquote p {
    margin-top: 0;
    margin-bottom: 10px;
}
.comment .description ul, .comment .description ol {
    padding-top: 10px;
    padding-left: 20px;
}
.comment .description ul li, .comment .description ol li {
    list-style-position: outside;
}

/* Tomorrow Night Eighties Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
/* plain text */
.pln {
    color: #cccccc;
}

@media screen {
    /* string content */
    .str {
        color: #99cc99;
    }

    /* a keyword */
    .kwd {
        color: #cc99cc;
    }

    /* a comment */
    .com {
        color: #999999;
    }

    /* a type name */
    .typ {
        color: #6699cc;
    }

    /* a literal value */
    .lit {
        color: #f99157;
    }

    /* punctuation */
    .pun {
        color: #cccccc;
    }

    /* lisp open bracket */
    .opn {
        color: #cccccc;
    }

    /* lisp close bracket */
    .clo {
        color: #cccccc;
    }

    /* a markup tag name */
    .tag {
        color: #f2777a;
    }

    /* a markup attribute name */
    .atn {
        color: #f99157;
    }

    /* a markup attribute value */
    .atv {
        color: #66cccc;
    }

    /* a declaration */
    .dec {
        color: #f99157;
    }

    /* a variable name */
    .var {
        color: #f2777a;
    }

    /* a function name */
    .fun {
        color: #6699cc;
    }
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
    .str {
        color: #006600;
    }

    .kwd {
        color: #006;
        font-weight: bold;
    }

    .com {
        color: #600;
        font-style: italic;
    }

    .typ {
        color: #404;
        font-weight: bold;
    }

    .lit {
        color: #004444;
    }

    .pun, .opn, .clo {
        color: #444400;
    }

    .tag {
        color: #006;
        font-weight: bold;
    }

    .atn {
        color: #440044;
    }

    .atv {
        color: #006600;
    }
}
/* Style */
pre.prettyprint {
    background: #2d2d2d;
    font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
    font-size: 13px;
    line-height: 1.5;
    padding: 10px;
    border-radius: 5px;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
    /* */
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
    /* */
}