<section id="main" class="container tags">
  <h1 class="title">标签：<%=tag_name%></h1>
  <section class="block">
    <%posts.forEach(function(item){%>
    <article>
      <h2>
        <time><%=item.created%></time>
        <a href="/post/<%=item.slug%>"><%=item.title%></a>
      </h2>
    </article>
    <%})%>
  </section>
</section>